@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark color scheme */
:root {
  --foreground-rgb: 255, 255, 255; /* White color for text */
  --background-start-rgb: 23, 25, 30; /* Dark bluish-greenish background */
  --background-end-rgb: 23, 25, 30; /* Dark bluish-greenish background */
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
